extends ../layout/index.pug

block content

  div.py-10
    h1.text-4xl.my-10.font-extrabold.text-center Real
      span.font-normal state 
    h2.text-center.text-2xl.font-extrabold= page

    .mt-8.mx-auto.max-w-md 
      .bg-white.py-8.px-4.shadow 
        form.space-y-2
          div 
            label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="name") YOUR NAME
            input#name.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400.mb-2(placeholder="Your name..." type="text" name="nombre")
          div 
            label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="email") EMAIL
            input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400.mb-2(placeholder="Your email..." type="email" name="email")
          div 
            label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="password") PASSWORD
            input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400.mb-2(placeholder="Your password..." type="password" name="password")
          div 
            label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="repeat_password") REPEAT PASSWORD
            input#repeat_password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400.mb-2(placeholder="Repeat your password..." type="password" name="repeat_password")
          div.flex.items-center.justify-between.p-2 
            a.text-gray-500.text-s(href="/auth/login") Login 
            a.text-gray-500.text-s(href="/auth/forgot-password") Forgot my password 
          input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer" type="submit" value="Crear cuenta")