header.bg-indigo-600.p-4
    .container.mx-auto.flex.justify-between.items-center 
        a(href="/") 
            h1.text-2xl.text-white.font-extrabold.text-center Real  
                span.font-normal State

        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")
            a(href="") Crear cuenta
            a(href="") Iniciar sesión

div(class="bg-indigo-700 py-5 hidden lg:block")
    div(class="container mx-auto flex justify-between")
        nav(class="flex gap-4 items-center")
            a(href="/categories/1" class="text-sm font-bold uppercase text-white") Pisos
            a(href="/categories/2" class="text-sm font-bold uppercase text-white") Casas
            a(href="/categories/3" class="text-sm font-bold uppercase text-white") Locales Comerciales
            a(href="/categories/4" class="text-sm font-bold uppercase text-white") Terrenos
        form(action="/search" method="POST" class="flex gap-3 items-center")
            input(type="hidden" name="_csrf" value= csrfToken)
            input(type="text" id="search" name="search" placeholder="Buscar propiedades..." class="flex-1 placeholder-white px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 shadow-sm")
            input(type="submit" class="flex items-center gap-2 bg-indigo-600 hover:bg-indigo-500 rounded-lg text-white uppercase font-semibold px-4 py-2 text-sm transition duration-200" value="Buscar") 
         
            
